/* Layout/formatting/etc. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, inter;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Regular.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Bold.ttf);
    font-weight: bold;
}





header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    color: white;
    background-color: rgb(27, 27, 27);
    padding-left: 100px;
    padding-right: 100px;
    z-index: 3;
}

header img {
    padding: 20px;
    max-width: 200px;
    display: block;
}

#header_logo {
    cursor: pointer;
}

.header_button_container {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.header_button_wrapper {
    font-size: 20px;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    transition: all .2s ease-out;
    cursor: pointer;
}

.header_button_wrapper:hover {
    background-color: #353535;
}

.header_button_wrapper path {
    transition: all .2s ease-out;
}

.header_button_wrapper:hover path {
    fill: rgb(255, 255, 255);
}

.authentication_content {
    position: relative;
    height: 100vh;
    background-image: url(../resources/images/mayon_volcano-aom-waifu2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.authentication_content * {
    position: relative;
    z-index: 2;
}

.authentication_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.authentication_content h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.login {
    display: flex;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    border-radius: 10px;
    width: 50vw;
    max-height: 95vh;
    overflow: auto;
    gap: 40px;
    opacity: 1;
    transition: opacity .2s ease;
}

.login.close {
    opacity: 0;
    transition: all .2s ease;
}

.login.open {
    opacity: 1;
    transition: all .2s ease;
}

.login > div {
    width: calc(50% - 20px);
}

.login_image_wrapper > img {
    width: 100%;
    height: 100%;
}

.login_container {
    text-align: center;
}

.login_container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_container > form p {
    color: rgb(128, 128, 128);
}

.login_container > form span {
    color: rgb(0, 0, 0);
}

.login_container > form span:hover {
    cursor: pointer;
}

.username_password_wrappper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.username_password_wrappper input {
    padding: 10px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}

#login_button {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 10px;
    transition: all .2s;
}

#login_button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.signup {
    display: none;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    border-radius: 10px;
    width: 50vw;
    max-height: 95vh;
    overflow: auto;
    gap: 40px;
    opacity: 1;
    transition: all .2s ease;
}

.signup > div {
    width: calc(50% - 20px);
}

.signup_image_wrapper > img {
    width: 100%;
    height: 100%;
    
}

.signup_container {
    text-align: center;
}

.signup_container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup_container > form p {
    color: rgb(128, 128, 128);
}

.signup_container > form span {
    color: rgb(0, 0, 0);
}

.signup_container > form span:hover {
    cursor: pointer;
}

.username_password_wrappper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.username_password_wrappper input {
    padding: 10px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}

#signup_button {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 10px;
    transition: all .2s;
}

#signup_button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

footer {
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 24px;
}

.footer_container_1 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 140px;
}

.footer_content {
    width: 300px;
}

#footer_logo {
    display: block;
    max-width: 200px;
    cursor: pointer;
}

.footer_logo_tagline_wrapper {
    display: inline-flex;
    flex-direction: column;
}

.footer_content_classifier {
    font-weight: bold;
}

.footer_content_description {
    margin-top: 10px;
    color: rgb(224, 224, 224);
}

.footer_container_2 {
    color: rgb(149, 149, 149);
    background-color: rgb(27, 27, 27);
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
}

.footer_container_2 span {
    color: #ffffff;
}

.footer_container_2_scroll_up_wrapper img {
    max-width: 20px;
    cursor: pointer;
}
