/* Layout/formatting/other backend */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, inter;
}

html {
    scroll-behavior: smooth;
}



@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Regular.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Bold.ttf);
    font-weight: bold;
}






header {
    display: flex;
    color: white;
    background-color: rgb(27, 27, 27);
    padding-left: 100px;
    padding-right: 100px;
}

header img {
    max-width: 200px;
    display: block;
}

#header_logo {
    cursor: pointer;
}

.header_button_container {
    font-size: 20px;
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.header_button_wrapper {
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    transition: .2s ease-out;
    cursor: pointer;
}

.header_button_wrapper:hover {
    background-color: #dedede;
    color: black;
    
}

.main_content {
    padding: 100px;
}



footer {
    background-color: #121212;
    color: white;
    font-size: 1.6em;
    display: flex;
    padding: 100px 140px;
    justify-content: space-between;
}

#footer_logo {
    padding: 50px;
    max-width: 250px;
    display: block;
}