.overview_container {
    background-image: url('../resources/images/stacked_peaks-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 50px;
    font-size: 24px;
    gap: 80px;
    justify-content: center;
    scroll-margin-top: var(--header-height);
}

.overview_image_wrapper {
    width: 30%;
    height: auto;
    text-shadow: #ffffff;
}

.overview_image_wrapper img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
}

.overview_text_wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

.overview_text_wrapper h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.overview_text_wrapper span {
    font-weight: bold;
}

.content_container {
    background: linear-gradient(135deg, rgba(230,214,196,1) 39%, rgba(193,174,153,1) 87%); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 140px;
    font-size: 24px;
}

.overview h1 {
    margin-bottom: 20px;
}

.overview p {
    margin-bottom: 15px;
}

.gallery h1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.gallery_grid_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.201);
}

.gallery_grid_tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.401);
    transition: .2s ease;
}

.gallery_grid_tile img:hover{
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
}


.gallery_grid_tile:nth-child(1){
    grid-column: span 3;
    grid-row: span 2;
}

.gallery_grid_tile:nth-child(2), .gallery_grid_tile:nth-child(3){
    grid-column: span 2;
}

.gallery_grid_tile:nth-child(6){
    grid-column: span 2;
}

.location_container {
    display: flex;
    gap: 40px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.201);
}

.location h1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.location_text_wrapper {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.location_map_wrapper {
    width: 50%;
    align-self: center;
}

.location_map_wrapper iframe {
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    transition: .2s ease;
}

.location_map_wrapper iframe:hover {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
}

.virtual_tour h1 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.iframe {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image_preview_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.4);
    padding: 30px;
}

.image_preview_container.open {
    opacity: 1;
    transition: all .2s ease;
    pointer-events: auto;
}

.image_preview_container img {
    display: block;
    width: 100%;
    max-height: 90%;
    object-fit: contain;
}

@media only screen and (max-width: 1200px) {
    .overview_container {
        font-size: 18px;
        padding: 5vh 100px;
        gap: 40px;
    }

    .content_container {
        font-size: 18px;
    }

    .overview_text_wrapper h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .overview_container {
        flex-direction: column;
        padding: 5vh 120px;
        gap: 20px;
    }

    .overview_image_wrapper {
        height: 300px;
        width: 100%;
    }

    .overview_text_wrapper {
        width: 100%;
    }

    .overview_text_wrapper h2 {
        text-align: center;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 840px) {
    .overview_container {
        padding: 5vh 70px;
    }

    .content_container {
        padding: 10vh 70px;
    }
}

@media only screen and (max-width: 756px) {
    .gallery_grid_tile:nth-child(1), .gallery_grid_tile:nth-child(2), .gallery_grid_tile:nth-child(3), .gallery_grid_tile:nth-child(4), .gallery_grid_tile:nth-child(5), .gallery_grid_tile:nth-child(6){
        grid-column: span 7;
        grid-row: span 1;
    }

    .location_container {
        flex-direction: column;
        gap: 20px;
    }

    .location_map_wrapper, .location_text_wrapper {
        width: 100%;
    }
    
    .location_map_wrapper iframe {
        height: 200px;
    }

    .virtual_tour iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .content_container {
        padding: 10vh 50px;
    }

    .overview_container {
        flex-direction: column;
        padding: 5vh 50px;
        gap: 20px;
    }

    .overview_image_wrapper {
        height: 100%;
        width: 100%;
    }

    .overview_text_wrapper {
        width: 100%;
    }
    
    .gallery_grid_container, .location_container {
        padding: 20px;
    }

    .virtual_tour iframe {
        width: 100%;
        height: 300px;
    }
}
