/* Layout/formatting/other backend */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, inter;
}

html {
    scroll-behavior: smooth;
}



@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Regular.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Bold.ttf);
    font-weight: bold;
}






header {
    display: flex;
    color: white;
    background-color: rgb(27, 27, 27);
    padding-left: 100px;
    padding-right: 100px;
}

header img {
    max-width: 200px;
    display: block;
}

.header_button_container {
    font-size: 20px;
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.header_button_wrapper {
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    transition: .2s ease-out;
    cursor: pointer;
}

.header_button_wrapper:hover {
    background-color: #dedede;
    color: black;
    
}

.introductory_content {
    position: relative;
    background-color: bisque;
}

.introductory_content_container {
    display: flex;
    width: 100%;
    height: 800px;
    padding: 100px 200px;
    justify-content: space-between;
    background-image: url(../resources/images/circle_scatter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introductory_details_container {
    color: rgb(255, 255, 255);
    width: 30%;
    display: flex;
    flex-direction: column;
}

.introductory_details_container button {
    background-color: #232323;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: .2s;
    cursor: pointer;
}

.introductory_details_container button:hover {
    background-color: #ffffff;
    color: #751929;
}

.introductory_button_wrapper {
    margin-top: auto;
}

.introductory_image_slider_wrapper {
    max-width: 60%;
    height: 100%;
}

.introductory_image_slider_wrapper img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
}

.main_content {
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    /* padding: 100px 140px; */
}

.products {
    padding: 100px 140px;
    background-image: url(../resources/images/blob_scene.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.product_container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 40px;
}

.product_cards {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(40, 46, 79);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    flex-shrink: 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.product_cards_image_wrapper {
    width: 100%;
    height: 300px;
}

.product_cards_image_wrapper img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.product_cards_details_wrapper {
    padding: 25px;
}

.product_cards_details_wrapper p {
    font-size: 20px;
}

.product_cards_details_wrapper h3 {
    font-size: 25px;
}

.color {
    padding: 100px 140px;
    background-image: url(../resources/images/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    transition: 2s;
}

.button_container {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
    color: white;
    flex-wrap: wrap;
}

.button_green, .button_yellow, .button_brown, .button_red {
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 25px;
    border-radius: 35px;
    transition: .3s;
    cursor: pointer;
}

.button_green img, .button_yellow img, .button_brown img, .button_red img {
    height: 30px;
    margin-right: 15px;
}

.button_green:hover {
    background-color: #7dae8e !important;
    color: black !important;

}

.button_yellow:hover {
    background-color: #caba73 !important;
    color: black !important;
}

.button_brown:hover {
    background-color: #c4997f !important;
    color: black !important;
}

.button_red:hover {
    background-color: #d17474 !important;
    color: black !important;
}

.tourist_spot_cards {
    display: flex;
    margin-top: 30px;
    border-radius: 20px;
    font-size: .9em;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
}

.tourist_spot_cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tourist_spot_cards h2 {
    font-size: 50px;
}

.tourist_spot_cards_image_wrapper {
    padding: 50px;
    width: 50%;
}

.tourist_spot_cards_description {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    padding: 50px;
}

.tourist_spot_cards_green {
    background-image: url(../resources/images/countour_line.svg);
    background-size: cover;
}

.tourist_spot_cards_brown {
    background-image: url(../resources/images/curve_line.svg);
    background-size: cover;
}

.tourist_spot_cards_green_hide, .tourist_spot_cards_yellow_hide, .tourist_spot_cards_brown_hide, .tourist_spot_cards_red_hide {
    display: none;
}


footer {
    background-color: #121212;
    color: white;
    font-size: 1.6em;
    display: flex;
    padding: 100px 140px;
    justify-content: space-between;
}

#footer_logo {
    padding: 50px;
    max-width: 250px;
    display: block;
}