/* Layout/formatting/etc. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, inter;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Regular.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Bold.ttf);
    font-weight: bold;
}





header {
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    display: flex;
    color: white;
    background-color: rgb(27, 27, 27);
    padding-left: 100px;
    padding-right: 100px;
    z-index: 3;
}

header img {
    padding: 20px;
    max-width: 200px;
    display: block;
}

#header_logo {
    cursor: pointer;
}

.header_button_container {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.header_button_wrapper {
    font-size: 20px;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    transition: all .2s ease-out;
    cursor: pointer;
}

.header_button_wrapper:hover {
    background-color: #353535;
}

.header_button_wrapper path {
    transition: all .2s ease-out;
}

.header_button_wrapper:hover path {
    fill: rgb(255, 255, 255);
}

.welcome_section {
    position: relative;
    background-image: url(../resources/images/beach-rabin_shasha_on_unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-margin-top: var(--header-height);
}

.welcome_section_container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 25vh 200px;
    background-color: rgba(3, 3, 3, 0.3);
}

.welcome_details_container {
    color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
}

.welcome_details_container button {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    transition: .2s;
    cursor: pointer;
}

.welcome_details_container button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(117, 25, 41);
}

.welcome_button_wrapper {
    margin-top: 100px;
}

.welcome_image_slider_wrapper {
    max-width: 60%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome_image_slider_wrapper img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
}

.tourist_destination_section {
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    padding: 100px 140px;
    background-image: url(../resources/images/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-margin-top: var(--header-height);
}

.tourist_destination_section > p {
    margin-bottom: 20px;
}

.luzon_visayas_mindanao_container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.luzon_visayas_mindanao_container h2 {
    font-size: 28px;
}

.luzon_visayas_mindanao_container p {
    font-size: 18px;
}

.luzon_visayas_mindanao_container button {
    align-self: center;
    padding: 10px 15px;
    border-radius: 5px;
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: auto;
    transition: all .2s ease;
}

.luzon_visayas_mindanao_container button:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.luzon_card, .visayas_card, .mindanao_card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    position: relative;
    display: flex;
    flex: 0 0 calc(25% - 5px);
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    height: 500px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    transition: transform .2s ease, flex .5s ease;
}

.luzon_card:hover, .visayas_card:hover, .mindanao_card:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
    transform: scale(1.02);
    flex: 1;
}

.luzon_card img, .visayas_card img, .mindanao_card img{
    transition: all 0.2s ease;
}

.luzon_card {
    background-image: url("../resources/images/banaue_rice_terraces.jpg");
}

.luzon_card * {
    position: relative;
    z-index: 2;
}

.luzon_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.visayas_card {
    background-image: url("../resources/images/chocolate_hills.jpg");
}

.visayas_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.visayas_card * {
    position: relative;
    z-index: 2;
}

.mindanao_card {
    background-image: url("../resources/images/banaue_rice_terraces.jpg");
}

.mindanao_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.mindanao_card * {
    position: relative;
    z-index: 2;
}

.random_fact_section {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: white;
    padding: 100px 140px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='500' preserveAspectRatio='none' viewBox='0 0 1920 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1181%26quot%3b)' fill='none'%3e%3crect width='1920' height='500' x='0' y='0' fill='rgba(0%2c 18%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M1327.1446017516103-21.011395275906175L1327.1446017516103 64.49055699892341 1412.6465540264398 64.49055699892341 1412.6465540264398-21.011395275906196z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M93.84 331.19 a98.23 98.23 0 1 0 196.46 0 a98.23 98.23 0 1 0 -196.46 0z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1003.9316475594544 234.8456351216441L864.4339148510874 237.28057710340778 866.868856832851 376.7783098117749 1006.3665895412181 374.3433678300112z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1283.9585848405804 429.11938155476525L1221.3291253182683 481.67173794076973 1273.8814817042728 544.301197463082 1336.510941226585 491.7488410770774z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1751.54 152.7 a133.88 133.88 0 1 0 267.76 0 a133.88 133.88 0 1 0 -267.76 0z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M923.8022921649815 116.4335245096495L870.8200423280199 173.25003142151752 980.6187990768495 169.41577434661116z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1489.5382896198546 196.47634082499L1567.3805545876721 171.1838557375653 1542.0880695002475 93.3415907697478 1464.24580453243 118.63407585717248z' fill='rgba(28%2c 83%2c 142%2c 0.46)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1181'%3e%3crect width='1920' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.random_fact_heading_wrapper {
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.random_fact_description_wrapper {
    width: 60%;
    text-align: center;
}

.random_fact_description_wrapper p {
    margin-top: 20px;
    color: rgb(231, 231, 231);
}

.virtual_tour_section {
    font-size: 24px;
    padding: 100px 140px;
    background: rgb(201, 255, 191);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.virtual_tour_section p {
    color: rgb(36, 36, 36);
}

.virtual_tour_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.virtual_tour_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: rgb(35, 35, 35);
    color: white;
    width: calc(25% - 20px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    transition: .2s ease;
    text-align: center;
}

.virtual_tour_card:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(231, 231, 231);
    color: rgb(35, 35, 35);
}

.virtual_tour_card:hover p {
    color: rgb(24, 24, 24);
}

.virtual_tour_card img {
    transition: all 0.2s ease;
}

.virtual_tour_card:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease;
    opacity: .7;
}

.virtual_tour_card_image_wrapper {
    max-width: 100%;
    height: 200px;
    overflow: hidden;
}

.virtual_tour_card_image_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.virtual_tour_card_description_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.virtual_tour_card_description_wrapper h3 {
    font-size: 1em;
}

.virtual_tour_card_description_wrapper p {
    margin-top: 10px;
    font-size: .8em;
    color: rgb(231, 231, 231);
}

.games_section {
    background-image: url("../resources/images/cartoon_scenery_background-upklyak_on_freepik.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(97, 97, 97);
}

.games_section_container {
    color: white;
    font-size: 24px;
    padding: 100px 140px;
    background-color: rgba(18, 18, 18, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.games_card_container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 70%;
}

.games_card_heading_wrapper{
     margin-top: auto;
     margin-bottom: auto;
}

.games_card {
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    transition: .2s ease;
}

.games_card:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
    scale: 1.05;
}

.games_card img {
    max-width: 90px;
}

.games_card h2 {
    color: black;
    margin-top: 10px;
    font-size: 1.0em;
}

.games_card p {
    font-size: .8em;
    color: rgb(58, 58, 58);
}

.games_card_content_image_wrapper {
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}

.games_card_content_details_wrapper {
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 2;
}

.games_card_content_button_wrapper {
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}

.jigsaw_puzzle_game {
    background-color: rgb(120, 202, 216);
}

.jigsaw_puzzle_game button {
    padding: 10px 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(87, 152, 163);
    background: none;
    font-size: .7em;
    transition: .2s ease-out;
}

.jigsaw_puzzle_game button:hover {
    cursor: pointer;
    background-color: rgb(87, 152, 163);
    color: white;
}

.word_hunt_game {
    background-color: rgb(247, 217, 154);
}

.word_hunt_game button {
    padding: 10px 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(168, 148, 105);
    background: none;
    font-size: .7em;
    margin-top: auto;
    transition: .2s ease-out;
    align-self: center;
}

.word_hunt_game button:hover {
    cursor: pointer;
    background-color: rgb(168, 148, 105);
    color: white;
}

.shop_section {
    font-size: 24px;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 2000 800' width='2000' height='800' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 241L182 281L364 233L545 129L727 201L909 145L1091 281L1273 249L1455 313L1636 321L1818 129L2000 305L2000 0L1818 0L1636 0L1455 0L1273 0L1091 0L909 0L727 0L545 0L364 0L182 0L0 0Z' fill='%23ffe8d6'%3E%3C/path%3E%3Cpath d='M0 393L182 441L364 321L545 289L727 377L909 225L1091 441L1273 329L1455 377L1636 473L1818 241L2000 361L2000 303L1818 127L1636 319L1455 311L1273 247L1091 279L909 143L727 199L545 127L364 231L182 279L0 239Z' fill='%23efd6c4'%3E%3C/path%3E%3Cpath d='M0 553L182 577L364 489L545 577L727 617L909 601L1091 641L1273 553L1455 537L1636 585L1818 537L2000 633L2000 359L1818 239L1636 471L1455 375L1273 327L1091 439L909 223L727 375L545 287L364 319L182 439L0 391Z' fill='%23e0c5b2'%3E%3C/path%3E%3Cpath d='M0 737L182 681L364 705L545 681L727 753L909 681L1091 745L1273 737L1455 697L1636 705L1818 713L2000 721L2000 631L1818 535L1636 583L1455 535L1273 551L1091 639L909 599L727 615L545 575L364 487L182 575L0 551Z' fill='%23d0b4a1'%3E%3C/path%3E%3Cpath d='M0 801L182 801L364 801L545 801L727 801L909 801L1091 801L1273 801L1455 801L1636 801L1818 801L2000 801L2000 719L1818 711L1636 703L1455 695L1273 735L1091 743L909 679L727 751L545 679L364 703L182 679L0 735Z' fill='%23c1a490'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-margin-top: var(--header-height);
}

.shop_section h1 {
    color: rgb(0, 0, 0);
}

.shop_section h2 {
    font-size: .9em;
    color: rgb(255, 255, 255);
}

.shop_section p {
    font-size: .8em;
    color: rgb(231, 231, 231);
}

.shop_section_container {
    padding: 100px 140px;
    display: flex;
    justify-content: space-between;
}

.shop_product_card_heading_wrapper {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.shop_product_right_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 50px;
}

.shop_product_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shop_product_card {
    width: calc(50% - 10px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    transition: .2s ease;
}

.buko_pandan {
    background-color: rgb(35, 35, 35);
}

.coffee {
    background-color: rgb(35, 35, 35);
}

.mango {
    background-color: rgb(35, 35, 35);
}

.strawberry {
    background-color: rgb(35, 35, 35);
}

.shop_product_card:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
    scale: 1.05;
}


.shop_product_card_image_wrappper {
    width: 60%;
}

.shop_product_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop_product_card_content_wrappper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.shop_button_wrapper {
    display: flex;
    justify-content: center;
}

.shop_button_wrapper > button {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: all .2s ease-out;
}

.shop_button_wrapper > button:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.shop_modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    transition: all .2s ease;
    opacity: 0;
}

.shop_modal.open {
    opacity: 1;
    transition: all .2s ease;
}

.shop_modal.close {
    opacity: 0;
    transition: all .2s ease;
}

.shop_modal_checkout_window {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80vw;
    max-height: 95vh;
    overflow: auto;
}

.shop_modal_checkout_window.close {
    opacity: 0;
    transition: all .2s ease;
}

.smcw_pick_your_order_container {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    gap: 10px;
}

.smcw_preview_container {
    gap: 10px;
}

.smcw_preview_container p {
    font-size: 24px;
}

.smcw_card {
    display: flex;
    padding: 20px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 10px;
    gap: 10px;
    transition: all .2s ease;
}

.smcw_card:hover {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}

.smcw_card_checkbox_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 2 10%;
}

.smcw_card_checkbox_wrapper > input {
    width: 20px;
    height: 20px;
}

.smcw_card_image_wrapper {
    width: 80px;
    background-color: #FFAFBD;
}

.smcw_card_image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smcw_card_order_details_container {
    display: flex;
    flex-direction: column;
    flex: 0 2 60%;
    gap: 5px;
}

.smcw_card_order_details_container p {
    color: rgb(56, 56, 56);
}

.smcw_card_order_details_container input {
    padding: 5px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    width: 50px;
}

.smcw_card_order_details_container button {
    padding: 5px;
    background: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    width: 50px;
    transition: all .2s ease;
}

.smcw_card_order_details_container button:hover {
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(56, 56, 56);
    color: white;
    cursor: pointer;
}

.smcw_card_order_details_container button.smcw_card_order_details_container_button_clicked {
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(56, 56, 56);
    color: white;
}

.smcw_card_price_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 2 20%;
}

.smcw_card_price_wrapper > p {
    font-size: 24px;
}

.smcw_ppc_subtotal_wrapper, .smcw_ppc_items_wrapper, .smcw_ppc_prep_time_wrapper {
    display: flex;
    justify-content: space-between;
}

.smcw_preview_payment_container {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.smcw_pc_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.smcw_pc_card {
    display: flex;
    width: calc(50% - 10px);
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 10px;
    transition: all .2s ease;
}

.smcw_pc_card:hover {
    box-shadow: 0px 0px 15px .8px rgba(0, 0, 0, 0.2);
}

.smcw_pc_card svg, .smcw_pc_card img {
    width: 100%;
    height: 100%;
}

.smcw_pc_card_radio_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smcw_pc_card_radio_wrapper > input {
    width: 20px;
    height: 20px;
}

.smcw_pc_card_radio_wrapper > input:hover {
    cursor: pointer;
}

.smcw_pc_card_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
}

.smcw_pc_card_payment_name_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smcw_preview_payment_container > button:disabled {
    font-size: 20px;
    padding: 20px;
    border: none;
    background-color: rgb(83, 83, 83);
    color: white;
    border-radius: 10px;
    transition: all .2s;
    cursor: not-allowed;
}

.smcw_preview_payment_container > button {
    font-size: 20px;
    padding: 20px;
    border: none;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 10px;
    transition: all .2s;
}

.smcw_preview_payment_container > button:not([disabled]):hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.shop_modal_purchased_order_window {
    display: none;
    text-align: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60vw;
    overflow: auto;
    opacity: 0;
}

.shop_modal_purchased_order_window.open {
    opacity: 1;
    transition: all .2s ease;
}

.smpow_order_confirmed_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.smpow_order_confirmed_container img {
    width: 200px;
}

.smpow_order_details_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.smpow_order_details_container > div {
    border: 2px solid rgb(231, 231, 231);
    padding: 20px;
    border-radius: 5px;
}

.smpow_odc_order_wrapper {
    flex: 0 0 100%;
}

.smpow_odc_order_wrapper > div {
    display: flex;
    flex-direction: column;
}

.smpow_odc_payment_method_wrapper {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.smpow_odc_subtotal_wrapper {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.smpow_odc_order_receipt_code_wrapper {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}



footer {
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 24px;
}

.footer_container_1 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 140px;
}

.footer_content {
    width: 300px;
}

#footer_logo {
    display: block;
    max-width: 200px;
    cursor: pointer;
}

.footer_logo_tagline_wrapper {
    display: inline-flex;
    flex-direction: column;
}

.footer_content_classifier {
    font-weight: bold;
}

.footer_content_description {
    margin-top: 10px;
    color: rgb(224, 224, 224);
}

.footer_container_2 {
    color: rgb(149, 149, 149);
    background-color: rgb(27, 27, 27);
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
}

.footer_container_2 span {
    color: #ffffff;
}

.footer_container_2_scroll_up_wrapper img {
    max-width: 20px;
    cursor: pointer;
}
