/* Layout/formatting/other backend */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, inter;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Regular.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Bold.ttf);
    font-weight: bold;
}






header {
    display: flex;
    color: white;
    background-color: rgb(27, 27, 27);
    padding-left: 100px;
    padding-right: 100px;
}

header img {
    padding: 20px;
    max-width: 200px;
    display: block;
}

#header_logo {
    cursor: pointer;
}

.header_button_container {
    font-size: 20px;
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.header_button_wrapper {
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    transition: .2s ease-out;
    cursor: pointer;
}

.header_button_wrapper:hover {
    background-color: #dedede;
    color: black;
    
}





.products {
    padding: 100px 140px;
    background-image: url(../resources/images/blob_scene.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 24px;
}

.product_container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 40px;
    padding: 40px;
    margin: -40px;
}

.product_cards {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    flex-shrink: 0;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    transition: .2s ease;
}

.product_cards:hover {
    background-color: rgb(68, 68, 68);
    color: white;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
}

.product_cards h2 {
    font-size: 21px;
}

.product_cards p {
    color: rgb(224, 224, 224);
}

.product_cards_image_wrapper {
    width: 100%;
    height: 300px;
}

.product_cards_image_wrapper img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.product_cards_details_wrapper {
    padding: 25px;
}

.product_cards_details_wrapper p {
    font-size: 20px;
}

.product_cards_details_wrapper h3 {
    font-size: 25px;
}




footer {
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 24px;
}

.footer_container_1 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 140px;
}

.footer_content {
    width: 300px;
}

#footer_logo {
    display: block;
    max-width: 200px;
    cursor: pointer;
}

.footer_logo_tagline_wrapper {
    display: inline-flex;
    flex-direction: column;
}

.footer_logo_tagline_wrapper p {
    font-size: 16px;
    color: rgb(218, 218, 218);
    margin-top: 10px;
}

.footer_content_classifier {
    font-weight: bold;
}

.footer_content_description {
    margin-top: 10px;
    color: rgb(224, 224, 224);
}

.footer_container_2 {
    color: rgb(149, 149, 149);
    background-color: rgb(27, 27, 27);
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
}

.footer_container_2 span {
    color: #ffffff;
}

.footer_container_2_scroll_up_wrapper img {
    max-width: 20px;
    cursor: pointer;
}