/* Layout/formatting/other backend */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, inter;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: helvetica;
    src: url(../resources/font/Helvetica-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Regular.ttf);
    font-weight: normal;
 }

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: inter;
    src: url(../resources/font/Inter-Bold.ttf);
    font-weight: bold;
}






header {
    display: flex;
    color: white;
    background-color: rgb(27, 27, 27);
    padding-left: 100px;
    padding-right: 100px;
}

header img {
    padding: 20px;
    max-width: 200px;
    display: block;
}

#header_logo {
    cursor: pointer;
}

.header_button_container {
    font-size: 20px;
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.header_button_wrapper {
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    transition: .2s ease-out;
    cursor: pointer;
}

.header_button_wrapper:hover {
    background-color: #dedede;
    color: black;
    
}

.main_content {
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    padding: 100px 140px;
    background-image: url(../resources/images/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.visayas_tourist_spot_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-top: 25px;
}

.visayas_tourist_spot_cards {
    display: flex;
    margin-top: 0px;
    font-size: .7em;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.201);
    transition: .2s;
    width: 48%;
    background-color: #3a6791;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.visayas_tourist_spot_cards:hover {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.401);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.401);
}

.visayas_tourist_spot_cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.visayas_tourist_spot_cards h2 {
    font-size: 1.7em;
}

.tourist_spot_cards_image_wrapper {
    width: 100%;
}

.tourist_spot_cards_description_wrapper {
    width: 90%;
    padding: 35px;
}





footer {
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 24px;
}

.footer_container_1 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 140px;
}

.footer_content {
    width: 300px;
}

#footer_logo {
    display: block;
    max-width: 200px;
    cursor: pointer;
}

.footer_logo_tagline_wrapper {
    display: inline-flex;
    flex-direction: column;
}

.footer_logo_tagline_wrapper p {
    font-size: 16px;
    color: rgb(218, 218, 218);
    margin-top: 10px;
}

.footer_content_classifier {
    font-weight: bold;
}

.footer_content_description {
    margin-top: 10px;
    color: rgb(224, 224, 224);
}

.footer_container_2 {
    color: rgb(149, 149, 149);
    background-color: rgb(27, 27, 27);
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
}

.footer_container_2 span {
    color: #ffffff;
}

.footer_container_2_scroll_up_wrapper img {
    max-width: 20px;
    cursor: pointer;
}